    .choose-btn {
            width: 200px;
            border-radius: 12px;
            border: solid 1px #bfc5c7;
    
        }
                 .choose-btn:hover {
                     color: white;
                     background-color: #d94524;
                 }

 

